<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.how2java.tmall.mapper.CategoryMapper">
    <!--不带分页查询-->
    <!--<select id="list" resultType="Category">
        select * from category order by id desc
    </select>-->

    <!--带分页查询-->
    <select id="list" resultType="Category">
        select * from category order by id desc
        <if test="start != null and count != null">
            limit #{start},#{count}
        </if>
    </select>

    <!--不带分页查询-->
    <select id="total" resultType="int">
        select count(1) from category
    </select>

    <!--插入数据,主键自增-->
    <insert id="add" keyProperty="id" useGeneratedKeys="true" parameterType="Category">
        insert into category (name) values (#{name});
    </insert>

    <!--根据id删除-->
    <delete id="delete">
        delete from category where id= #{id}
    </delete>

    <!--根据id查询出一条数据-->
    <select id="get" resultType="Category">
        select * from category  where id= #{id}
    </select>

    <!--根据查询出来的数据执行更新操作-->
    <update id="update" parameterType="Category">
        update category set name = #{name} where id = #{id}
    </update>
</mapper>